<div *ngIf="user">
  <mat-card>
    <mat-card-header>
      <img
        class="profile-avatar"
        [style]="activeUser?.id === user.id ? 'cursor: pointer' : ''"
        mat-card-avatar
        [src]="user.img"
        alt="A user avatar"
        (click)="openImageDialog()" />
      <mat-card-title>{{ user.username }}</mat-card-title>
      <mat-card-subtitle>@{{ user.username }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions *ngIf="activeUser?.id !== user.id">
      <button color="accent" mat-flat-button>INVITE TO GAME</button>
    </mat-card-actions>
    <mat-card-actions *ngIf="activeUser?.id === user.id">
      <button
        *ngIf="!user.isLookingForGroup"
        [disabled]="isLoadingLookingForGroup"
        color="primary"
        mat-flat-button
        (click)="toogleLookingForGroup()">
        LOOK FOR A GROUP
      </button>
      <button
        *ngIf="user.isLookingForGroup"
        [disabled]="isLoadingLookingForGroup"
        color="warn"
        mat-flat-button
        (click)="toogleLookingForGroup()">
        STOP LOOKING FOR GROUP
      </button>
    </mat-card-actions>
  </mat-card>

  <mat-tab-group mat-align-tabs="center">
    <mat-tab label="Comments">
      <ng-template matTabContent>
        <app-comments-section [userRef]="user.id"></app-comments-section>
      </ng-template>
    </mat-tab>
    <mat-tab label="Character Sheet">
      <ng-template matTabContent> Content 2 </ng-template>
    </mat-tab>
  </mat-tab-group>
</div>
