<h2>Login Page</h2>
<div class="login-menu">
  <form action="login.php" method="post">
    <label for="Email">Email: </label>
    <input
      type="text"
      id="email"
      name="email"
      placeholder="Enter your email"
      required />

    <label for="password">Password: </label>
    <input
      type="password"
      id="password"
      name="password"
      placeholder="Enter your password"
      required />

    <a id="forgotPassword" href="./auth/login/forgot-pass">Forgot Password?</a>

    <input type="submit" value="Login" />
  </form>
</div>
