app-top-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f1f1f1;
  z-index: 3;
  /* Add other styling properties */
}

app-bottom-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f1f1f1;
  z-index: 3;
  /* Add other styling properties */
}

.main-content {
  padding-top: 56px;
  padding-bottom: 3px;
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}
