.forum-entry-card {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.card-content {
  white-space: normal;
  max-height: calc(100vh / 12); /* Set the maximum height to 1/7th of the viewport height */
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 1em;
  background: lightgray;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: whitesmoke;
  border-radius: 10px;
  border: gray 1px;
}

.message {
  word-wrap: break-word;
}
