<mat-toolbar
  color="primary"
  class="z-3 position-fixed bottom-0 start-50 translate-middle-x">
  <button
    mat-icon-button
    routerLink="/dashboard/feed"
    aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>forum</mat-icon>
  </button>
  <div class="w-100 position-relative">
    <button
      mat-fab
      class="position-absolute bottom-0 start-50 translate-middle-x"
      matTooltip="Primary"
      color="accent"
      aria-label="Example fab with a heart icon"
      routerLink="/dashboard/create-post">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <button
    mat-icon-button
    (click)="openProfile()"
    aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
