<mat-toolbar
  color="primary"
  class="d-flex justify-content-evenly aling-items-center">
  <button
    mat-icon-button
    routerLink="/dashboard/feed"
    aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>forum</mat-icon>
  </button>

  <button
    mat-fab
    matTooltip="Primary"
    color="accent"
    aria-label="Example fab with a heart icon"
    routerLink="/dashboard/create-post">
    <mat-icon>add</mat-icon>
  </button>

  <button
    mat-icon-button
    (click)="openProfile()"
    aria-label="Example icon button with a vertical three dot icon">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
