body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.register-menu {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #bdbcbc;
  color: #cd0303;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  background-color: black;
  color: #cd0303;
}

input[type='text'],
input[type='password'],
input[type='email'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type='submit'] {
  width: 100%;
  background-color: #cd0303;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: #ff0000;
}
