<mat-tab-group mat-align-tabs="center">
  <mat-tab label="Requests">
    <ng-template matTabContent>
      <div *ngIf="requests.length === 0" class="text-center mt-5">
        <span>You currently have no requests</span>
      </div>
      <div class="d-flex flex-column p-3" *ngFor="let request of requests">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ request.campaign.title }}</mat-card-title>
            <mat-card-subtitle
              routerLink="/dashboard/profile/{{ request.user.id }}"
              >{{ request.user.username }}</mat-card-subtitle
            >
            <mat-card-subtitle
              >Status: {{ request.status | uppercase }}</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-actions class="d-flex justify-content-between">
            <button
              [disabled]="request.status !== 'pending'"
              (click)="acceptRequest(request, 'requests')"
              color="primary"
              mat-mini-fab
              aria-label="Accept icon button with a check icon">
              <mat-icon>check</mat-icon>
            </button>
            <button
              routerLink="/dashboard/campaign-details/{{
                request.campaign._id
              }}"
              color="accent"
              mat-mini-fab
              aria-label="Accept icon button with a check icon">
              <mat-icon>info</mat-icon>
            </button>
            <button
              [disabled]="request.status !== 'pending'"
              (click)="rejectRequest(request, 'requests')"
              color="warn"
              mat-mini-fab
              aria-label="Reject icon button with a check icon">
              <mat-icon>close</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-template>
  </mat-tab>

  <mat-tab label="Invites">
    <ng-template matTabContent>
      <div *ngIf="invites.length === 0" class="text-center mt-5">
        <span>You currently have no invites</span>
      </div>
      <div class="d-flex flex-column p-3" *ngFor="let invite of invites">
        <mat-card>
          <mat-card-header>
            <mat-card-title>{{ invite.campaign.title }}</mat-card-title>
            <mat-card-subtitle
              >Status: {{ invite.status | uppercase }}</mat-card-subtitle
            >
          </mat-card-header>
          <mat-card-actions class="d-flex justify-content-between">
            <button
              [disabled]="invite.status !== 'pending'"
              (click)="acceptRequest(invite, 'invites')"
              color="primary"
              mat-mini-fab
              aria-label="Accept icon button with a check icon">
              <mat-icon>check</mat-icon>
            </button>
            <button
              routerLink="/dashboard/campaign-details/{{ invite.campaign._id }}"
              color="accent"
              mat-mini-fab
              aria-label="Accept icon button with a check icon">
              <mat-icon>info</mat-icon>
            </button>
            <button
              [disabled]="invite.status !== 'pending'"
              (click)="rejectRequest(invite, 'invites')"
              color="warn"
              mat-mini-fab
              aria-label="Reject icon button with a check icon">
              <mat-icon>close</mat-icon>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    </ng-template>
  </mat-tab>
</mat-tab-group>
