<div>
  <form
    class="d-flex gap-3 flex-column justify-content-center align-items-center p-3">
    <mat-form-field class="example-full-width">
      <mat-label>Campaign Name</mat-label>
      <input matInput placeholder="Ex. Curse of Strahd" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Number of Players</mat-label>
      <input matInput type="number" placeholder="Ex. 4" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Description</mat-label>
      <textarea
        matInput
        placeholder="Ex. You are trapped in the lands of Barovia..."></textarea>
    </mat-form-field>
    <button mat-fab extended color="accent" disabled type="button">
      <mat-icon>add</mat-icon>
      Upload Image
    </button>
    <button mat-raised-button color="primary" type="submit">Post</button>
  </form>
</div>
